.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.App {
  max-width: 600px;
  margin: 0 auto;
}

.App h3 {background: darkorange; color: white; text-align: center; padding: 8px;}

.set-title {
  background: #efefef;
  padding: 5px;
  color: #333;
  margin-bottom: 8px;
  font-weight: bold;
}

.exercise-label {
    display: inline-block;
    width: 100px;
}
.exercise-reps {
    display: inline-block;
}

.app_total-reps {
    margin-bottom: 20px;
}
.super_exercise {display: inline-block; padding: 0 5px;}
.super_exercise-a {color: #333}
.super_exercise-b {color: darkorange}
.super_heading-1, .super_heading-2 {text-align: center}
.super_heading-1 {background: aliceblue;}
.super_heading-2 {background: beige;}
.super_rep-count-1, .super_rep-count-2 {text-align: center;}
.super_rep-count-1 {background: aliceblue;}
.super_rep-count-2 {background: beige; margin-top: 5px;}

.config-form_link {padding: 5px}

.btn-border {border: 1px solid #efefef}
